In [1]:
import pandas as pd
import requests, json

# 경고
import warnings
warnings.filterwarnings(action='ignore')
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## 1. 소요시간

#### 1) 2021년 9월 20일

In [3]:
key = 9085291297
iYear = 2021
iStUnitCode = 101
iEdUnitCode = 140
numOfRows = 1000
pageNo = 4
url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key={key}&type=json&iYear={iYear}&iStUnitCode={iStUnitCode}&iEdUnitCode={iEdUnitCode}&numOfRows={numOfRows}&pageNo={pageNo}'

In [4]:
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['intercityLeadTimeLists'])
df_21 = pd.DataFrame(lst)[['stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'stdHour', 'edUnitNm', 'trtm']]

In [5]:
df_21 = df_21.loc[df_21['sphlDfttScopTypeNm'] == 'D-1']
df_21 = df_21.reset_index()
df_21.head(2)

,index,stdYear,sphlDfttNm,sphlDfttScopTypeNm,stdHour,edUnitNm,trtm
0,3,2021,추석,D-1,00,부산,228.716000000000000000000000
1,4,2021,추석,D-1,01,부산,240.875000000000000000000000

#### 2) 2020년 9월 30일

In [6]:
key = 9085291297
iYear = 2020
iStUnitCode = 101
iEdUnitCode = 140
numOfRows = 1000
pageNo = 4
url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key={key}&type=json&iYear={iYear}&iStUnitCode={iStUnitCode}&iEdUnitCode={iEdUnitCode}&numOfRows={numOfRows}&pageNo={pageNo}'

In [7]:
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['intercityLeadTimeLists'])
df_20 = pd.DataFrame(lst)[['stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'stdHour', 'edUnitNm', 'trtm']]

In [8]:
df_20 = df_20.loc[df_20['sphlDfttScopTypeNm'] == 'D-1']
df_20 = df_20.reset_index()
df_20.head(2)

,index,stdYear,sphlDfttNm,sphlDfttScopTypeNm,stdHour,edUnitNm,trtm
0,3,2020,추석,D-1,00,부산,285.866500000000000000000000
1,4,2020,추석,D-1,01,부산,281.199500000000000000000000

#### 3) 2019년 9월 12일

In [9]:
key = 9085291297
iYear = 2019
iStUnitCode = 101
iEdUnitCode = 140
numOfRows = 1000
pageNo = 4
url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key={key}&type=json&iYear={iYear}&iStUnitCode={iStUnitCode}&iEdUnitCode={iEdUnitCode}&numOfRows={numOfRows}&pageNo={pageNo}'

In [10]:
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['intercityLeadTimeLists'])
df_19 = pd.DataFrame(lst)[['stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'stdHour', 'edUnitNm', 'trtm']]

In [11]:
df_19 = df_19.loc[df_19['sphlDfttScopTypeNm'] == 'D-1']
df_19 = df_19.reset_index()
df_19.head(2)

,index,stdYear,sphlDfttNm,sphlDfttScopTypeNm,stdHour,edUnitNm,trtm
0,8,2019,추석,D-1,00,부산,369.238666666666666666666666
1,9,2019,추석,D-1,01,부산,368.961000000000000000000000

#### 4) 2018년 9월 23일

In [12]:
key = 9085291297
iYear = 2018
iStUnitCode = 101
iEdUnitCode = 140
numOfRows = 1000
pageNo = 4
url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key={key}&type=json&iYear={iYear}&iStUnitCode={iStUnitCode}&iEdUnitCode={iEdUnitCode}&numOfRows={numOfRows}&pageNo={pageNo}'

In [13]:
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['intercityLeadTimeLists'])
df_18 = pd.DataFrame(lst)[['stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'stdHour', 'edUnitNm', 'trtm']]

In [14]:
df_18 = df_18.loc[df_18['sphlDfttScopTypeNm'] == 'D-1']
df_18 = df_18.reset_index()
df_18.head(2)

,index,stdYear,sphlDfttNm,sphlDfttScopTypeNm,stdHour,edUnitNm,trtm
0,12,2018,추석,D-1,00,부산,374.616333333333333333333333
1,13,2018,추석,D-1,01,부산,365.427333333333333333333333

#### 5) 2017년 10월 3일

In [15]:
key = 9085291297
iYear = 2017
iStUnitCode = 101
iEdUnitCode = 140
numOfRows = 1000
pageNo = 1
url = f'http://data.ex.co.kr/openapi/specialAnal/intercityLeadTime?key={key}&type=json&iYear={iYear}&iStUnitCode={iStUnitCode}&iEdUnitCode={iEdUnitCode}&numOfRows={numOfRows}&pageNo={pageNo}'

In [16]:
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()

In [17]:
lst = list(data['intercityLeadTimeLists'])
df_17 = pd.DataFrame(lst)[['stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'stdHour', 'edUnitNm', 'trtm']]

In [18]:
df_17 = df_17.loc[df_17['sphlDfttScopTypeNm'] == 'D-1']
df_17 = df_17.reset_index()
df_17.head(2)

,index,stdYear,sphlDfttNm,sphlDfttScopTypeNm,stdHour,edUnitNm,trtm
0,48,2017,추석,D-1,00,부산,355.149750000000000000000000
1,49,2017,추석,D-1,01,부산,338.237250000000000000000000

#### 6) concat

In [23]:
time = pd.concat([df_17, df_18, df_19, df_20, df_21], axis=0)

In [24]:
time = time.drop(columns = ['index', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'edUnitNm'])

In [25]:
# target float으로 변환
time['trtm'] = time['trtm'].astype('float')

In [26]:
time

   stdYear stdHour        trtm
0     2017      00  355.149750
1     2017      01  338.237250
2     2017      02  332.094333
3     2017      03  321.937250
4     2017      04  319.120250
5     2017      05  312.791500
6     2017      06  353.299667
7     2017      07  365.478750
8     2017      08  359.405333
9     2017      09  371.227333
10    2017      10  409.037000
11    2017      11  431.694000
12    2017      12  430.466667
13    2017      13  424.988667
14    2017      14  419.583000
15    2017      15  419.872000
16    2017      16  424.760667
17    2017      17  413.699500
18    2017      18  399.408000
19    2017      19  425.510667
20    2017      20  459.525000
21    2017      21  424.825000
22    2017      22  362.250000
23    2017      23  353.050000
0     2018      00  374.616333
1     2018      01  365.427333
2     2018      02  350.572000
3     2018      03  333.588333
4     2018      04  316.266333
5     2018      05  332.011000
6     2018      06  337.816333
7     2018      07  311.677333
8     2018      08  313.738667
9     2018      09  338.572000
10    2018      10  350.260667
11    2018      11  370.666333
12    2018      12  379.083000
13    2018      13  391.783000
14    2018      14  344.777333
15    2018      15  341.638333
16    2018      16  341.511000
17    2018      17  344.849500
18    2018      18  327.316000
19    2018      19  320.725000
20    2018      20  309.771667
21    2018      21  326.975000
22    2018      22  356.866000
23    2018      23  330.100000
0     2019      00  369.238667
1     2019      01  368.961000
2     2019      02  355.966500
3     2019      03  365.291500
4     2019      04  476.171667
5     2019      05  481.954000
6     2019      06  496.029000
7     2019      07  468.466500
8     2019      08  478.327667
9     2019      09  470.749500
10    2019      10  475.974500
11    2019      11  501.761000
12    2019      12  471.191000
13    2019      13  471.441500
14    2019      14  498.516400
15    2019      15  511.016500
16    2019      16  496.154000
17    2019      17  466.991000
18    2019      18  483.638333
19    2019      19  453.372000
20    2019      20  390.000000
21    2019      21  393.555333
22    2019      22  382.116500
23    2019      23  372.341000
0     2020      00  285.866500
1     2020      01  281.199500
2     2020      02  289.949500
3     2020      03  278.650000
4     2020      04  271.416500
5     2020      05  277.008000
6     2020      06  277.549500
7     2020      07  277.983000
8     2020      08  287.841500
9     2020      09  297.891000
10    2020      10  310.991500
11    2020      11  315.333000
12    2020      12  316.005333
13    2020      13  326.299500
14    2020      14  320.058000
15    2020      15  320.341500
16    2020      16  313.624500
17    2020      17  309.758000
18    2020      18  304.944333
19    2020      19  288.499500
20    2020      20  267.258000
21    2020      21  288.766000
22    2020      22  279.483000
23    2020      23  259.666000
0     2021      00  228.716000
1     2021      01  240.875000
2     2021      02  243.633000
3     2021      03  242.016500
4     2021      04  254.077667
5     2021      05  248.641000
6     2021      06  251.149500
7     2021      07  255.824500
8     2021      08  261.233000
9     2021      09  275.872000
10    2021      10  288.558000
11    2021      11  294.608000
12    2021      12  296.066000
13    2021      13  295.425000
14    2021      14  296.583000
15    2021      15  297.049500
16    2021      16  303.216500
17    2021      17  298.991500
18    2021      18  287.533000
19    2021      19  274.024500
20    2021      20  264.866500
21    2021      21  264.500000
22    2021      22  274.600000
23    2021      23  246.266000

## 2. 기상

#### 1) 2021년 9월 20일

In [24]:
# seoul
seoul_21 = pd.read_csv('seoul_21.csv', sep=',', encoding='cp949')
# busan
busan_21 = pd.read_csv('busan_21.csv', sep=',', encoding='cp949')
# 경북
kb_21 = pd.read_csv('kyeongbook_21.csv', sep=',', encoding='cp949')
# 충남
cn_21 = pd.read_csv('choongnam_21.csv', sep=',', encoding='cp949')
# 충북
cb_21 = pd.read_csv('choongbook_21.csv', sep=',', encoding='cp949')

columns = ['지점', '기온 QC플래그', '강수량 QC플래그', '풍속 QC플래그',
           '풍향 QC플래그', '현지기압 QC플래그', '해면기압 QC플래그',
           '일조 QC플래그', '일사 QC플래그', '지면온도 QC플래그', '습도 QC플래그',
           '운형(운형약어)', '지면상태(지면상태코드)', '현상번호(국내식)']

seoul_21 = seoul_21.drop(columns = columns)
busan_21 = busan_21.drop(columns = columns)
kb_21 = kb_21.drop(columns = columns)
cn_21 = cn_21.drop(columns = columns)
cb_21 = cb_21.drop(columns = columns)

In [25]:
cn21_1 = cn_21.loc[cn_21['지점명']=='천안']
cb21_1 = cb_21.loc[cb_21['지점명']=='청주']
cb21_2 = cb_21.loc[cb_21['지점명']=='추풍령']
kb21_1 = kb_21.loc[kb_21['지점명']=='영천']
kb21_2 = kb_21.loc[kb_21['지점명']=='경주시']

#### 2) 2020년 9월 30일

In [26]:
# seoul
seoul_20 = pd.read_csv('seoul_20.csv', sep=',', encoding='cp949')
# busan
busan_20 = pd.read_csv('busan_20.csv', sep=',', encoding='cp949')
# 경북
kb_20 = pd.read_csv('kyeongbook_20.csv', sep=',', encoding='cp949')
# 충남
cn_20 = pd.read_csv('choongnam_20.csv', sep=',', encoding='cp949')
# 충북
cb_20 = pd.read_csv('choongbook_20.csv', sep=',', encoding='cp949')

seoul_20 = seoul_20.drop(columns = columns)
busan_20 = busan_20.drop(columns = columns)
kb_20 = kb_20.drop(columns = columns)
cn_20 = cn_20.drop(columns = columns)
cb_20 = cb_20.drop(columns = columns)

In [27]:
cn20_1 = cn_20.loc[cn_20['지점명']=='천안']
cb20_1 = cb_20.loc[cb_20['지점명']=='청주']
cb20_2 = cb_20.loc[cb_20['지점명']=='추풍령']
kb20_1 = kb_20.loc[kb_20['지점명']=='영천']
kb20_2 = kb_20.loc[kb_20['지점명']=='경주시']

#### 3) 2019년 9월 12일

In [28]:
# seoul
seoul_19 = pd.read_csv('seoul_19.csv', sep=',', encoding='cp949')
# busan
busan_19 = pd.read_csv('busan_19.csv', sep=',', encoding='cp949')
# 경북
kb_19 = pd.read_csv('kyeongbook_19.csv', sep=',', encoding='cp949')
# 충남
cn_19 = pd.read_csv('choongnam_19.csv', sep=',', encoding='cp949')
# 충북
cb_19 = pd.read_csv('choongbook_19.csv', sep=',', encoding='cp949')

seoul_19 = seoul_19.drop(columns = columns)
busan_19 = busan_19.drop(columns = columns)
kb_19 = kb_19.drop(columns = columns)
cn_19 = cn_19.drop(columns = columns)
cb_19 = cb_19.drop(columns = columns)

In [29]:
cn19_1 = cn_19.loc[cn_19['지점명']=='천안']
cb19_1 = cb_19.loc[cb_19['지점명']=='청주']
cb19_2 = cb_19.loc[cb_19['지점명']=='추풍령']
kb19_1 = kb_19.loc[kb_19['지점명']=='영천']
kb19_2 = kb_19.loc[kb_19['지점명']=='경주시']

#### 4) 2018년 9월 23일

In [30]:
# seoul
seoul_18 = pd.read_csv('seoul_18.csv', sep=',', encoding='cp949')
# busan
busan_18 = pd.read_csv('busan_18.csv', sep=',', encoding='cp949')
# 경북
kb_18 = pd.read_csv('kyeongbook_18.csv', sep=',', encoding='cp949')
# 충남
cn_18 = pd.read_csv('choongnam_18.csv', sep=',', encoding='cp949')
# 충북
cb_18 = pd.read_csv('choongbook_18.csv', sep=',', encoding='cp949')

seoul_18 = seoul_18.drop(columns = columns)
busan_18 = busan_18.drop(columns = columns)
kb_18 = kb_18.drop(columns = columns)
cn_18 = cn_18.drop(columns = columns)
cb_18 = cb_18.drop(columns = columns)

In [31]:
cn18_1 = cn_18.loc[cn_18['지점명']=='천안']
cb18_1 = cb_18.loc[cb_18['지점명']=='청주']
cb18_2 = cb_18.loc[cb_18['지점명']=='추풍령']
kb18_1 = kb_18.loc[kb_18['지점명']=='영천']
kb18_2 = kb_18.loc[kb_18['지점명']=='경주시']

#### 5) 2017년 10월 3일

In [32]:
# seoul
seoul_17 = pd.read_csv('seoul_17.csv', sep=',', encoding='cp949')
# busan
busan_17 = pd.read_csv('busan_17.csv', sep=',', encoding='cp949')
# 경북
kb_17 = pd.read_csv('kyeongbook_17.csv', sep=',', encoding='cp949')
# 충남
cn_17 = pd.read_csv('choongnam_17.csv', sep=',', encoding='cp949')
# 충북
cb_17 = pd.read_csv('choongbook_17.csv', sep=',', encoding='cp949')

seoul_17 = seoul_17.drop(columns = columns)
busan_17 = busan_17.drop(columns = columns)
kb_17 = kb_17.drop(columns = columns)
cn_17 = cn_17.drop(columns = columns)
cb_17 = cb_17.drop(columns = columns)

In [33]:
cn17_1 = cn_17.loc[cn_17['지점명']=='천안']
cb17_1 = cb_17.loc[cb_17['지점명']=='청주']
cb17_2 = cb_17.loc[cb_17['지점명']=='추풍령']
kb17_1 = kb_17.loc[kb_17['지점명']=='영천']
kb17_2 = kb_17.loc[kb_17['지점명']=='경주시']

#### 6) concat

In [34]:
# 서울
seoul = pd.concat([seoul_17, seoul_18, seoul_19, seoul_20, seoul_21], axis=0)
seoul = seoul.reset_index()

# 천안
cheon = pd.concat([cn17_1, cn18_1, cn19_1, cn20_1, cn21_1], axis=0)
cheon = cheon.reset_index()

# 청주
cheong = pd.concat([cb17_1, cb18_1, cb19_1, cb20_1, cb21_1], axis=0)
cheong = cheong.reset_index()

# 추풍령
choo = pd.concat([cb17_2, cb18_2, cb19_2, cb20_2, cb21_2], axis=0)
choo = choo.reset_index()

# 영천
young = pd.concat([kb17_1, kb18_1, kb19_1, kb20_1, kb21_1], axis=0)
young = young.reset_index()

# 경주시
gyoung = pd.concat([kb17_2, kb18_2, kb19_2, kb20_2, kb21_2], axis=0)
gyoung = gyoung.reset_index()

In [35]:
place = pd.concat([seoul, cheon, cheong, choo, young, gyoung], axis=1)
place = place.drop(columns = ['index'])

## 3. 교통량

#### 1) 2021년 9월 20일

In [36]:
key = 9085291297
iStdYear = 2021
url = f'http://data.ex.co.kr/openapi/specialAnal/trafficFlowByTime?key=9085291297&type=json&iStdYear={iStdYear}'
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['trafficFlowByTimeLists'])

In [37]:
traf_21 = pd.DataFrame(lst)[['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'trfl']]
traf_21 = traf_21.loc[traf_21['sphlDfttScopTypeNm'] == 'D-1']
traf_21 = traf_21.loc[traf_21['sphlDfttNm'] == '추석']
traf_21 = traf_21.sort_values('stdHour')
traf_21 = traf_21.reset_index()
traf_21 = traf_21.drop(columns='index')

#### 2) 2020년 9월 30일

In [38]:
key = 9085291297
iStdYear = 2020
url = f'http://data.ex.co.kr/openapi/specialAnal/trafficFlowByTime?key=9085291297&type=json&iStdYear={iStdYear}'
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['trafficFlowByTimeLists'])

In [39]:
traf_20 = pd.DataFrame(lst)[['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'trfl']]
traf_20 = traf_20.loc[traf_20['sphlDfttScopTypeNm'] == 'D-1']
traf_20 = traf_20.loc[traf_20['sphlDfttNm'] == '추석']
traf_20traf_20 = traf_20.sort_values('stdHour')
traf_20 = traf_20.reset_index()
traf_20 = traf_20.drop(columns='index')

#### 3) 2019년 9월 12일

In [40]:
key = 9085291297
iStdYear = 2019
url = f'http://data.ex.co.kr/openapi/specialAnal/trafficFlowByTime?key=9085291297&type=json&iStdYear={iStdYear}'
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['trafficFlowByTimeLists'])

In [41]:
traf_19 = pd.DataFrame(lst)[['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'trfl']]
traf_19 = traf_19.loc[traf_19['sphlDfttScopTypeNm'] == 'D-1']
traf_19 = traf_19.loc[traf_19['sphlDfttNm'] == '추석']
traf_19 = traf_19.sort_values('stdHour')
traf_19 = traf_19.reset_index()
traf_19 = traf_19.drop(columns='index')

#### 4) 2018년 9월 23일

In [42]:
key = 9085291297
iStdYear = 2018
url = f'http://data.ex.co.kr/openapi/specialAnal/trafficFlowByTime?key=9085291297&type=json&iStdYear={iStdYear}'
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['trafficFlowByTimeLists'])

In [43]:
traf_18 = pd.DataFrame(lst)[['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'trfl']]
traf_18 = traf_18.loc[traf_18['sphlDfttScopTypeNm'] == 'D-1']
traf_18 = traf_18.loc[traf_18['sphlDfttNm'] == '추석']
traf_18 = traf_18.sort_values('stdHour')
traf_18 = traf_18.reset_index()
traf_18 = traf_18.drop(columns='index')

####  5) 2017년 10월 3일

In [44]:
key = 9085291297
iStdYear = 2017
url = f'http://data.ex.co.kr/openapi/specialAnal/trafficFlowByTime?key=9085291297&type=json&iStdYear={iStdYear}'
response = requests.get(url) # get 방식.
data = response.json() # 문자열을 리스트로 바꿔주는 .json()
lst = list(data['trafficFlowByTimeLists'])

In [45]:
traf_17 = pd.DataFrame(lst)[['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm', 'trfl']]
traf_17 = traf_17.loc[traf_17['sphlDfttScopTypeNm'] == 'D-1']
traf_17 = traf_17.loc[traf_17['sphlDfttNm'] == '추석']
traf_17 = traf_17.sort_values('stdHour')
traf_17 = traf_17.reset_index()
traf_17 = traf_17.drop(columns='index')

#### 6) concat

In [46]:
traffic = pd.concat([traf_17, traf_18, traf_19, traf_20, traf_21], axis=0)

In [47]:
traffic = traffic.drop(columns=['stdHour', 'stdYear', 'sphlDfttNm', 'sphlDfttScopTypeNm'])

## 4. All Concat

In [48]:
time = time.reset_index()
place = place.reset_index()
traffic = traffic.reset_index()

In [49]:
df = pd.concat([time, place, traffic], axis=1)

In [50]:
df.head()

,index,stdYear,stdHour,trtm,index,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),index,trfl
0,0,2017,00,355.149750,0,서울,2017-10-03 00:00,19.0,NaN,3.5,290,60,13.1,11.0,1003.7,1013.7,NaN,NaN,NaN,NaN,0.0,0,NaN,2000,15.6,19.9,21.9,22.2,22.3,천안,2017-10-03 00:00,16.2,NaN,0.5,70,98,17.9,15.8,1003.9,1013.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,438.0,15.9,NaN,NaN,NaN,NaN,청주,2017-10-03 00:00,19.3,NaN,0.5,140,82,18.3,16.1,1006.4,1013.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1210,17.7,NaN,NaN,NaN,NaN,추풍령,2017-10-03 00:00,16.6,NaN,0.6,180,95,17.8,15.7,985.2,1013.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,16.8,NaN,NaN,NaN,NaN,영천,2017-10-03 00:00,17.8,NaN,0.6,290,95,19.2,16.9,1002.4,1013.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,17.8,NaN,NaN,NaN,NaN,경주시,2017-10-03 00:00,18.7,NaN,0.3,0,97,20.9,18.2,1008.6,1013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2635.0,19.1,20.0,20.2,21.0,21.0,0,93804
1,1,2017,01,338.237250,1,서울,2017-10-03 01:00,17.7,NaN,2.6,320,60,12.1,9.8,1004.4,1014.4,NaN,NaN,NaN,NaN,NaN,0,NaN,2000,14.7,19.3,21.5,22.0,22.3,천안,2017-10-03 01:00,15.5,NaN,0.4,0,98,17.2,15.1,1004.5,1014.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326.0,15.4,NaN,NaN,NaN,NaN,청주,2017-10-03 01:00,18.5,NaN,0.9,200,86,18.3,16.1,1006.9,1013.6,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1277,17.3,NaN,NaN,NaN,NaN,추풍령,2017-10-03 01:00,16.5,NaN,1.5,360,96,17.9,15.8,985.4,1013.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890,16.9,NaN,NaN,NaN,NaN,영천,2017-10-03 01:00,18.0,NaN,0.4,0,95,19.5,17.1,1002.6,1013.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,18.2,NaN,NaN,NaN,NaN,경주시,2017-10-03 01:00,17.8,NaN,0.4,0,99,20.1,17.6,1008.7,1013.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1320.0,18.4,19.7,19.9,20.9,21.0,1,61660
2,2,2017,02,332.094333,2,서울,2017-10-03 02:00,16.6,NaN,1.4,290,59,11.1,8.5,1005.2,1015.3,NaN,NaN,NaN,NaN,NaN,0,NaN,2000,13.9,18.6,21.1,21.8,22.2,천안,2017-10-03 02:00,15.5,NaN,2.1,250,98,17.2,15.1,1005.2,1014.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,15.1,NaN,NaN,NaN,NaN,청주,2017-10-03 02:00,17.9,NaN,0.8,270,85,17.4,15.3,1007.4,1014.1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1351,17.0,NaN,NaN,NaN,NaN,추풍령,2017-10-03 02:00,16.9,NaN,0.7,180,96,18.4,16.2,985.6,1013.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,336,17.2,NaN,NaN,NaN,NaN,영천,2017-10-03 02:00,17.9,NaN,0.6,70,95,19.4,17.0,1002.9,1013.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,18.2,NaN,NaN,NaN,NaN,경주시,2017-10-03 02:00,18.0,NaN,0.8,180,100,20.5,17.9,1009.0,1013.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1445.0,18.6,19.5,19.7,20.8,21.0,2,46791
3,3,2017,03,321.937250,3,서울,2017-10-03 03:00,15.7,NaN,2.0,290,61,10.8,8.1,1005.0,1015.2,NaN,NaN,NaN,NaN,0.0,0,NaN,2000,13.1,17.9,20.6,21.6,22.2,천안,2017-10-03 03:00,14.8,NaN,0.4,0,92,15.5,13.5,1005.1,1014.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,893.0,14.5,NaN,NaN,NaN,NaN,청주,2017-10-03 03:00,17.9,NaN,1.0,290,67,13.7,11.6,1007.6,1014.3,NaN,NaN,NaN,NaN,0.0,0.0,NaN,2000,16.3,NaN,NaN,NaN,NaN,추풍령,2017-10-03 03:00,16.4,NaN,0.5,70,96,17.8,15.7,986.0,1014.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257,16.5,NaN,NaN,NaN,NaN,영천,2017-10-03 03:00,17.6,NaN,0.0,0,95,19.0,16.7,1002.9,1013.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,17.9,NaN,NaN,NaN,NaN,경주시,2017-10-03 03:00,17.1,NaN,0.3,0,99,19.2,16.9,1009.1,1013.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709.0,17.6,19.2,19.6,20.7,20.9,3,42909
4,4,2017,04,319.120250,4,서울,2017-10-03 04:00,15.2,NaN,2.1,270,64,11.0,8.4,1005.3,1015.5,NaN,NaN,NaN,NaN,1.0,0,NaN,2000,12.5,17.3,20.2,21.4,22.1,천안,2017-10-03 04:00,13.9,NaN,0.4,0,90,14.2,12.2,1005.5,1015.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1780.0,13.8,NaN,NaN,NaN,NaN,청주,2017-10-03 04:00,17.1,NaN,1.0,270,68,13.2,11.1,1008.0,1014.7,NaN,NaN,NaN,NaN,4.0,0.0,NaN,2000,16.1,NaN,NaN,NaN,NaN,추풍령,2017-10-03 04:00,16.1,NaN,1.4,20,96,17.5,15.4,986.0,1014.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172,16.0,NaN,NaN,NaN,NaN,영천,2017-10-03 04:00,17.0,NaN,0.5,290,95,18.3,16.1,1003.0,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,17.0,NaN,NaN,NaN,NaN,경주시,2017-10-03 04:00,15.7,NaN,0.0,0,99,17.6,15.5,1009.5,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1147.0,16.7,18.7,19.1,20.6,20.9,4,49669

## 5. 전처리

In [51]:
df['강수량(mm)'] = df['강수량(mm)'].fillna(0)
df['적설(cm)'] = df['적설(cm)'].fillna(0)
df['3시간신적설(cm)'] = df['3시간신적설(cm)'].fillna(0)

In [52]:
df = df.drop(columns = ['index', '지점명', '일시', '5cm 지중온도(°C)', '10cm 지중온도(°C)', 
                        '20cm 지중온도(°C)', '30cm 지중온도(°C)', '일조(hr)', '일사(MJ/m2)',
                        'stdYear', 'stdHour'])

In [54]:
# interpolate
df.interpolate(method = 'linear', inplace = True)

In [55]:
# 나머지는 0으로 채워보자
df = df.fillna(0)

In [56]:
df.to_csv('df.csv')

In [64]:
df.head()

,trtm,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면온도(°C),trfl
0,355.149750,19.0,0.0,3.5,290,60,13.1,11.0,1003.7,1013.7,0.0,0.0,0.0,0,0.0,2000,15.6,16.2,0.0,0.5,70,98,17.9,15.8,1003.9,1013.5,0.0,0.0,0.0,0.0,0.0,438.0,15.9,19.3,0.0,0.5,140,82,18.3,16.1,1006.4,1013.0,0.0,0.0,0.0,0.0,0.0,1210,17.7,16.6,0.0,0.6,180,95,17.8,15.7,985.2,1013.5,0.0,0.0,0.0,0.0,0.0,168,16.8,17.8,0.0,0.6,290,95,19.2,16.9,1002.4,1013.3,0.0,0.0,0.0,0.0,0.0,2000.0,17.8,18.7,0.0,0.3,0,97,20.9,18.2,1008.6,1013.0,0.0,0.0,0.0,0.0,0.0,2635.0,19.1,93804
1,338.237250,17.7,0.0,2.6,320,60,12.1,9.8,1004.4,1014.4,0.0,0.0,0.0,0,0.0,2000,14.7,15.5,0.0,0.4,0,98,17.2,15.1,1004.5,1014.2,0.0,0.0,0.0,0.0,0.0,326.0,15.4,18.5,0.0,0.9,200,86,18.3,16.1,1006.9,1013.6,0.0,0.0,0.0,0.0,0.0,1277,17.3,16.5,0.0,1.5,360,96,17.9,15.8,985.4,1013.8,0.0,0.0,0.0,0.0,0.0,890,16.9,18.0,0.0,0.4,0,95,19.5,17.1,1002.6,1013.5,0.0,0.0,0.0,0.0,0.0,2000.0,18.2,17.8,0.0,0.4,0,99,20.1,17.6,1008.7,1013.1,0.0,0.0,0.0,0.0,0.0,1320.0,18.4,61660
2,332.094333,16.6,0.0,1.4,290,59,11.1,8.5,1005.2,1015.3,0.0,0.0,0.0,0,0.0,2000,13.9,15.5,0.0,2.1,250,98,17.2,15.1,1005.2,1014.9,0.0,0.0,0.0,0.0,0.0,250.0,15.1,17.9,0.0,0.8,270,85,17.4,15.3,1007.4,1014.1,0.0,0.0,0.0,0.0,0.0,1351,17.0,16.9,0.0,0.7,180,96,18.4,16.2,985.6,1013.9,0.0,0.0,0.0,0.0,0.0,336,17.2,17.9,0.0,0.6,70,95,19.4,17.0,1002.9,1013.8,0.0,0.0,0.0,0.0,0.0,2000.0,18.2,18.0,0.0,0.8,180,100,20.5,17.9,1009.0,1013.4,0.0,0.0,0.0,0.0,0.0,1445.0,18.6,46791
3,321.937250,15.7,0.0,2.0,290,61,10.8,8.1,1005.0,1015.2,0.0,0.0,0.0,0,0.0,2000,13.1,14.8,0.0,0.4,0,92,15.5,13.5,1005.1,1014.8,0.0,0.0,0.0,0.0,0.0,893.0,14.5,17.9,0.0,1.0,290,67,13.7,11.6,1007.6,1014.3,0.0,0.0,0.0,0.0,0.0,2000,16.3,16.4,0.0,0.5,70,96,17.8,15.7,986.0,1014.4,0.0,0.0,0.0,0.0,0.0,257,16.5,17.6,0.0,0.0,0,95,19.0,16.7,1002.9,1013.9,0.0,0.0,0.0,0.0,0.0,2000.0,17.9,17.1,0.0,0.3,0,99,19.2,16.9,1009.1,1013.5,0.0,0.0,0.0,0.0,0.0,709.0,17.6,42909
4,319.120250,15.2,0.0,2.1,270,64,11.0,8.4,1005.3,1015.5,0.0,0.0,1.0,0,0.0,2000,12.5,13.9,0.0,0.4,0,90,14.2,12.2,1005.5,1015.2,0.0,0.0,0.0,0.0,0.0,1780.0,13.8,17.1,0.0,1.0,270,68,13.2,11.1,1008.0,1014.7,0.0,0.0,4.0,0.0,0.0,2000,16.1,16.1,0.0,1.4,20,96,17.5,15.4,986.0,1014.4,0.0,0.0,0.0,0.0,0.0,172,16.0,17.0,0.0,0.5,290,95,18.3,16.1,1003.0,1014.0,0.0,0.0,0.0,0.0,0.0,2000.0,17.0,15.7,0.0,0.0,0,99,17.6,15.5,1009.5,1014.0,0.0,0.0,0.0,0.0,0.0,1147.0,16.7,49669

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 98 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   trtm         120 non-null    float64
 1   기온(°C)       120 non-null    float64
 2   강수량(mm)      120 non-null    float64
 3   풍속(m/s)      120 non-null    float64
 4   풍향(16방위)     120 non-null    int64
 5   습도(%)        120 non-null    int64
 6   증기압(hPa)     120 non-null    float64
 7   이슬점온도(°C)    120 non-null    float64
 8   현지기압(hPa)    120 non-null    float64
 9   해면기압(hPa)    120 non-null    float64
 10  적설(cm)       120 non-null    float64
 11  3시간신적설(cm)   120 non-null    float64
 12  전운량(10분위)    120 non-null    float64
 13  중하층운량(10분위)  120 non-null    int64
 14  최저운고(100m )  120 non-null    float64
 15  시정(10m)      120 non-null    int64
 16  지면온도(°C)     120 non-null    float64
 17  기온(°C)       120 non-null    float64
 18  강수량(mm)      120 non-null    float64
 19  풍속(m/s)      120 non-null    float64
 20  풍향(16방위)     120 non-null    int64
 21  습도(%)        120 non-null    int64
 22  증기압(hPa)     120 non-null    float64
 23  이슬점온도(°C)    120 non-null    float64
 24  현지기압(hPa)    120 non-null    float64
 25  해면기압(hPa)    120 non-null    float64
 26  적설(cm)       120 non-null    float64
 27  3시간신적설(cm)   120 non-null    float64
 28  전운량(10분위)    120 non-null    float64
 29  중하층운량(10분위)  120 non-null    float64
 30  최저운고(100m )  120 non-null    float64
 31  시정(10m)      120 non-null    float64
 32  지면온도(°C)     120 non-null    float64
 33  기온(°C)       120 non-null    float64
 34  강수량(mm)      120 non-null    float64
 35  풍속(m/s)      120 non-null    float64
 36  풍향(16방위)     120 non-null    int64
 37  습도(%)        120 non-null    int64
 38  증기압(hPa)     120 non-null    float64
 39  이슬점온도(°C)    120 non-null    float64
 40  현지기압(hPa)    120 non-null    float64
 41  해면기압(hPa)    120 non-null    float64
 42  적설(cm)       120 non-null    float64
 43  3시간신적설(cm)   120 non-null    float64
 44  전운량(10분위)    120 non-null    float64
 45  중하층운량(10분위)  120 non-null    float64
 46  최저운고(100m )  120 non-null    float64
 47  시정(10m)      120 non-null    int64
 48  지면온도(°C)     120 non-null    float64
 49  기온(°C)       120 non-null    float64
 50  강수량(mm)      120 non-null    float64
 51  풍속(m/s)      120 non-null    float64
 52  풍향(16방위)     120 non-null    int64
 53  습도(%)        120 non-null    int64
 54  증기압(hPa)     120 non-null    float64
 55  이슬점온도(°C)    120 non-null    float64
 56  현지기압(hPa)    120 non-null    float64
 57  해면기압(hPa)    120 non-null    float64
 58  적설(cm)       120 non-null    float64
 59  3시간신적설(cm)   120 non-null    float64
 60  전운량(10분위)    120 non-null    float64
 61  중하층운량(10분위)  120 non-null    float64
 62  최저운고(100m )  120 non-null    float64
 63  시정(10m)      120 non-null    int64
 64  지면온도(°C)     120 non-null    float64
 65  기온(°C)       120 non-null    float64
 66  강수량(mm)      120 non-null    float64
 67  풍속(m/s)      120 non-null    float64
 68  풍향(16방위)     120 non-null    int64
 69  습도(%)        120 non-null    int64
 70  증기압(hPa)     120 non-null    float64
 71  이슬점온도(°C)    120 non-null    float64
 72  현지기압(hPa)    120 non-null    float64
 73  해면기압(hPa)    120 non-null    float64
 74  적설(cm)       120 non-null    float64
 75  3시간신적설(cm)   120 non-null    float64
 76  전운량(10분위)    120 non-null    float64
 77  중하층운량(10분위)  120 non-null    float64
 78  최저운고(100m )  120 non-null    float64
 79  시정(10m)      120 non-null    float64
 80  지면온도(°C)     120 non-null    float64
 81  기온(°C)       120 non-null    float64
 82  강수량(mm)      120 non-null    float64
 83  풍속(m/s)      120 non-null    float64
 84  풍향(16방위)     120 non-null    int64
 85  습도(%)        120 non-null    int64
 86  증기압(hPa)     120 non-null    float64
 87  이슬점온도(°C)    120 non-null    float64
 88  현지기압(hPa)    120 non-null    float64
 89  해면기압(hPa)    120 non-null    float64
 90  적설(cm)       120 non-null    float64
 91  3시간신적설(cm)   120 non-null    float64
 92  전운량(10분위)    120 non-null    float64
 93  중하층운량(10분위)  120 non-null    float64
 94  최저운고(100m )  120 non-null    float64
 95  시정(10m)      120 non-null    float64
 96  지면온도(°C)     120 non-null    float64
 97  trfl         120 non-null    object
dtypes: float64(81), int64(16), object(1)
memory usage: 92.0+ KB